:root {
    --primary-color: #C1545A;
    --secondary-color: #0EEBA8;
    --terciary-color: #7C7C7C;
    --cuarternary-color: #FDFDFD;
    --quintinary-color: #F4F4F4;
    --color-gradient: #0EEBA8;
    --color-gradient-secondary: #10a377;
    --color-icons: #0EEBA8;
    --input-color: #E3E3E3;
    --font-family: 'Source Sans Pro', sans-serif;
}